**/.vscode
**/.vs
**/bin
**/obj
chart.html
MulticlassClassification/DigitRecognition/mnist_train.csv
MulticlassClassification/DigitRecognition/mnist_test.csv
Regression/TaxiFarePrediction/yellow_tripdata_2018-12.csv
