**/.vscode
**/.vs
**/bin
**/obj
chart.html
MulticlassClassification/DigitRecognition/mnist_train.csv
MulticlassClassification/DigitRecognition/mnist_test.csv
Regression/TaxiFarePrediction/yellow_tripdata_2018-12.csv
MulticlassClassification/CatsAndDogs/cat/
MulticlassClassification/CatsAndDogs/dog/
MulticlassClassification/HotdogNotHotdog/hotdog/
MulticlassClassification/HotdogNotHotdog/nothotdog/
MulticlassClassification/HotdogNotHotdog/test_map.txt
MulticlassClassification/HotdogNotHotdog/train_map.txt
MulticlassClassification/CatsAndDogs/models/
MulticlassClassification/CatsAndDogs/test_map.txt
MulticlassClassification/CatsAndDogs/train_map.txt
BinaryClassification/LstmDemo/y_train_imdb.bin
BinaryClassification/LstmDemo/x_train_imdb.bin
BinaryClassification/LstmDemo/x_test_imdb.bin
BinaryClassification/LstmDemo/y_test_imdb.bin
BinaryClassification/MovieSentiment/y_train_imdb.bin
BinaryClassification/MovieSentiment/y_test_imdb.bin
BinaryClassification/MovieSentiment/x_train_imdb.bin
BinaryClassification/MovieSentiment/x_test_imdb.bin
BinaryClassification/MovieSentiment/imdb_data.zip
Misc/StyleTransferDemo/models/
Misc/GanDemo/images/
Misc/GanDemo/x_channels_first_8_5.bin
